// src/assets/styles/_design.scss

.design-container {
  margin-top: 50px;
}

.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

h1{
  color: white;
  font-size: 90px;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 100px;
  padding-left: 5%;
}

h2 {
  color: white;
  font-size: 50px;
  margin-top: 20px;
  text-align: left;
  padding-left: 10%;
  font-weight: normal;
  background: rgba(0, 0, 0, 0.50);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: inline-block;
}

.mySlides {
  display: none;
}

.slider-image {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 20px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
}

.hover-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.mySlides:hover .hover-buttons {
  display: block;
}

.hover-buttons .btn {
  background-color: grey;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.hover-buttons .btn:hover {
  background-color: ghostwhite;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot:hover, .dot.active {
  background-color: #717171;
}

.next, .prev{
  color: white;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  font-size: 30px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
}

.prev{
  left: -5%;
}
.next{
  right: -9.5%;
}

.prev:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .prev {
    left: 19px;
  }

  .next {
    right: -19px;
  }
}
