.news-feed {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 400px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 10px;
  font-family: 'Wire One', sans-serif;
  font-size: 30px;
  color: white;
  text-align: left;
  box-shadow: 0px 50px 50px -20px rgba(0, 0, 0, 0.7);
  overflow: auto;
  transition: background 0.5s ease-in-out;
  z-index: 101;
}

.news-feed::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent);
  pointer-events: none;
}

#read-more-btn {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 10px auto 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: white;
  font-size: 18px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

#read-more-btn:hover {
  background: rgba(255, 255, 255, 0.3);
}

.news-feed h3 {
  margin: 0 0 10px;
  font-size: 35px;
  color: #fff;
  padding-bottom: 5px;
}

.news-feed p {
  padding: 20px;
  margin: 0 0 10px;
  color: #fff;
}

.news-feed .line {
  width: 40px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .news-feed {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 400px;
    z-index: 1;
  }
}

@media screen and (min-width: 769px) {
  .news-feed {
    position: fixed;
    bottom: 5%;
    right: 5%;
    transform: none;
    left: initial;
    width: 400px;
    height: 200px;
  }
}
