.photography * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.photography body {
  margin: 0;
  padding: 0;
}

.photography {
  padding: 20px;
}

.photo-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
  overflow: hidden;
}

.photo-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 32%;
}

.photo-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.photo-container:hover .photo {
  filter: blur(5px);
}

.photo-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease;
}

.photo-container:hover .photo-info {
  opacity: 1;
}

.photo-location {
  font-size: 1.5em;
  font-weight: bold;
}

.photo-date {
  font-size: 1em;
  margin-top: 5px;
}

.photo-description {
  font-size: 0.9em;
  margin-top: 10px;
}

@media (max-width: 1000px) {
  .photo-column {
    width: 48%;
  }

}

  @media (max-width: 600px) {
    .photo-column {
      width: 100%;
    }

  }
