.photography * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.photography body {
  margin: 0;
  padding: 0;
}

.photography {
  padding: 20px;
}

.photo-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 32%;
}

.photo-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.photo-container:hover .photo {
  filter: blur(5px);
}

.photo-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  opacity: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: opacity 0.3s ease;
}

.photo-container:hover .photo-info {
  opacity: 1;
}

.photo-location {
  font-size: 1.5em;
  font-weight: bold;
}

.photo-date {
  font-size: 1em;
  margin-top: 5px;
}

.photo-description {
  font-size: 0.9em;
  margin-top: 10px;
}

.hero {
  position: relative;
  height: 60vh;
  background: url('/images/photography/hero.jpg') center/cover no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5vw;
}

.hero-text {
  font-family: 'Teko', sans-serif;
  font-size: 5rem;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  padding: 20px 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 1000px) {
  .photo-column {
    width: 48%;
  }

  .hero {
    height: 50vh;
  }

  .hero-text {
    font-size: 3rem;
    padding: 10px 20px;
    top: 70%;
    transform: translateY(-70%);
  }
}

@media (max-width: 600px) {
  .photo-column {
    width: 100%;
  }

  .hero {
    height: 40vh;
  }

  .hero-text {
    font-size: 2.5rem;
    padding: 10px 20px;
    top: 80%;
    transform: translateY(-80%);
  }
}