.video-background {
  position: fixed;
  top: -5%;
  left: 0;
  width: 100%;
  height: 110%;
  z-index: -1;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .video-background {
    top: -20%;
    height: 100%;
    width: 100%;
  }

  .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
