/* _videobackground.scss */

/* Video-Hintergrund */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; /* Verhindert, dass das Video aus dem Sichtbereich ragt */
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Mobile Anpassungen für Video */
@media screen and (max-width: 768px) {
  .video-background {
    position: absolute;
    top: -100px; /* Verschiebt das Video unter die Navigation */
    left: 0;
    width: 100%;
    height: calc(100% - 60px); /* Der restliche Bereich nach der Navigation wird für das Video genutzt */
    z-index: -1;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
