// main.scss
@use 'variables';
@use 'mixins';
@use 'navbar';
@use 'textcontainer';
@use 'footer';
@use 'newsfeed';
@use 'videobackground';
@use 'design';
@use 'about';
@use 'development';
@use 'legalnotice';
@use 'photography';

body{
  font-family: 'Wire One', sans-serif;
  background-color: black;
  color: white;
}